:root {
  --bittersweet: rgba(255, 107, 107, 1);
  --caribbean-green: rgba(37, 225, 161, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --pizazz: rgba(255, 145, 0, 1);
}

@font-face {
  font-family: 'SegoeUI-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.animaapp.com/SegoeUI-Regular') format('truetype');
}

@font-face {
  font-family: 'Dana-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.animaapp.com/Dana-Regular') format('truetype');
}

@font-face {
  font-family: 'Dana-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.animaapp.com/Dana-Bold') format('truetype');
}
